.mainheader_container{
    /* position:relative; */
    background-color: cadetblue;
    max-width: 600px;
    padding:0.5rem 1rem;
    margin-top:0.4rem;
    display: flex;
    justify-content:space-between;
}


@media (max-width:600px){
    .mainheader_container{
        width:90%

    }
}