.Crypto_container{
   max-width: 600px;
   color:rgba(24, 155, 255, 0.554);
   
padding: 0.5rem 1rem;
margin-bottom: 5rem;
}
.crypto__items{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
 
  
}
.crypto__data{
   
    padding:0 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 3px 5px 18px gray;
}

.crypto__data:hover{
   
    transform: scale(103%);
    box-shadow: 3px 8px 20px lightslategray;
    -webkit-transform:ro;
    -moz-transform:ro;
    -ms-transform:ro;
    -o-transform:ro;
}

@media(max-width:600px){
    .Crypto_container{
        width:90%;
    }
}